:root {
  /* General Colors */
  --black: #000000;
  --dark-grey: #1a1e1f; /* Darker, cooler grey */
  --light-grey: #d1d5d8; /* Soft misty grey */
  --white: #ffffff;
  --blue-grey: #4e6878; /* Misty blue tone */
  --green: #87a88d; /* Muted, desaturated green */
  --light-green: #b1d0c1; /* Softer, misty green */
  --grey: #505a5e; /* Dark neutral grey */
  --panel-grey: #394044; /* Cooler panel color */

  /* Themed Colors */
  --main-background-color: var(--dark-grey);
  --nav-background-color: var(--panel-grey);
  --default-panel-background: var(--blue-grey);

  --main-color: #6a8c7c; /* Darker desaturated green */
  --accent-color-3: var(--light-grey);
  --accent-color-1: var(--light-green);
  --accent-color-2: var(--white);

  --highlight-background: var(--dark-grey);
  --highlight-color: var(--accent-color-2);
  --default-opacity: 70%;

  /* Content Settings */
  --default-margin: 1px;
  --default-padding: 5px;
  --default-border-radius: 10px;
  --default-border: 2px solid var(--grey);
  --header-font-size: 27pt;
  --content-font-size: 16pt;
  --content-max-width: 1200px;
}

body {
  background-color: var(--main-background-color);
  color: var(--light-grey);
  margin: 0;
  text-align: center;
  font-family: Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  color: var(--light-grey);
  font-size: calc(1.8 * var(--header-font-size));
  margin: calc(var(--default-margin));
}

h2,
h3 {
  color: var(--light-grey);
}

p,
li {
  font-size: var(--content-font-size);
  color: var(--accent-color-2);
}

a {
  font-size: var(--content-font-size);
  text-decoration: none;
  color: var(--accent-color-3);
}

a:hover {
  color: var(--highlight-color);
}
