/* color palette from <https://github.com/vuejs/theme> */

:root {
  /* General Colors */
  --black: #000000;
  --dark-grey: #303634;
  --light-grey: #a3a3a3;
  --white: #ffffff;
  --green: #4caf50;
  --light-green: #78f07d;
  --grey: #505050;
  --panel-grey: #464646;

  /* Themed Colors */
  --main-background-color: var(--dark-grey);
  --nav-background-color: var(--dark-grey);
  --default-panel-background: var(--panel-grey);

  --main-color: #95e06c;
  --accent-color-3: #c3f73a;
  --accent-color-1: #68b684;
  --accent-color-2: #99aea1;

  --highlight-background: var(--grey);
  --highlight-color: var(--light-grey);

  /* Content Settings */
  --default-margin: 5px;
  --default-padding: 5px;
  --default-border-radius: 10px;
  --default-border: 2px solid var(--grey);
  --header-font-size: 27pt;
  --content-font-size: 16pt;
  --content-max-width: 1200px;
}

body {
  background-color: var(--main-background-color);
  color: var(--light-grey);
  margin: 0;
  text-align: center;
  font-family: Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  color: var(--light-grey);
  font-size: calc(2 * var(--header-font-size));
  margin: calc(var(--default-margin));
}

h2,
h3 {
  color: var(--light-grey);
}

p,
li {
  font-size: var(--content-font-size);
  color: var(--accent-color-2);
}

a {
  font-size: var(--content-font-size);
  text-decoration: none;
  color: var(--accent-color-3);
}

a:hover {
  color: var(--highlight-color);
}
