/* color palette from <https://github.com/vuejs/theme> */

:root {
   /* General Colors */
   --black: #000000;
   --dark-grey: #333333;
   --light-grey: #a3a3a3;
   --white: #ffffff;
   --green: #4CAF50;
   --light-green: #78f07d;
   --grey: #464646;
 
  /* Themed Colors */
  --main-background-color: var(--dark-grey);
  --nav-background-color: var(--black);

  --main-color: #95E06C;
  --accent-color-3: #C3F73A;
  --accent-color-1: #68B684;
  --accent-color-2: #094D92;

  --highlight-background: var(--grey);
  --highlight-color: var(--light-grey);

  /* Content Settings */
  --default-margin: 5px;
  --default-padding: 5px;
  --header-font-size: 27pt;
  --content-font-size: 16pt;
  --content-max-width: 1200px;
}

body {
  background-color: var(--main-background-color);
  color: var(--light-grey);
  margin: 0;
  text-align: center;
  font-family:
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

h1 {
  color: var(--accent-color-1);
  font-size: var(--header-font-size);
}

h2, h3 {
  color: var(--light-grey);
}

p, a, li {
  font-size: var(--content-font-size);
  color: var(--light-grey);
}