/* color palette from <https://github.com/vuejs/theme> */

:root {
  --main-color: #303030; /* Dark background color */
  --secondary-color: #4CAF50; /* Green accent color */
  --tertiary-color: #212121; /* Darker background color */
  --black: #000000;
  --dark-grey: #333333;
  --light-grey: #a3a3a3;
  --white: #eeeeee;
  --default-margin: 5px;
  --header-font-size: 20pt;
}

body {
  background-color: var(--main-color);
  color: var(--light-grey);
  margin: 0;
  text-align: center;
  font-family:
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
}
